he-prod-incen-health-adf-01/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "he-prod-incen-health-adf-01"
		},
		"ls_adls_health_lake_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_adls_health_lake'"
		},
		"ls_databricks_perf_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ls_databricks_perf'"
		},
		"ls_pg_health_perf_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_pg_health_perf'"
		},
		"ls_adls_health_lake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://heprodincenhealthdl01.dfs.core.windows.net/"
		},
		"ls_pg_health_perf_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost"
		},
		"ls_pg_health_perf_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "health_insurance_perf"
		},
		"ls_pg_health_perf_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "postgres"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_full_load_master')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetTableList",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlV2Source",
								"query": "SELECT table_name FROM core_metadata.watermark_table",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "ds_pg_generic_dynamic",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "core_metadata",
									"TableName": "watermark_table"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "LoopThroughTables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetTableList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetTableList').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "CopyTableData",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "PostgreSqlV2Source",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_pg_generic_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": {
													"value": "@split(item().table_name, '.')[0]",
													"type": "Expression"
												},
												"TableName": "@split(item().table_name, '.')[1]"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "da_adls_generic_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@concat(split(string(item().table_name), '.')[0], '/', split(string(item().table_name), '.')[1])",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Job1",
						"type": "DatabricksJob",
						"dependsOn": [
							{
								"activity": "LoopThroughTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"jobId": "735885823268546"
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_perf",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-02T20:27:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_pg_generic_dynamic')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_databricks_perf')]",
				"[concat(variables('factoryId'), '/datasets/da_adls_generic_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_incremental_master')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlV2Source",
								"query": "SELECT table_name FROM core_metadata.watermark_table",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "ds_pg_generic_dynamic",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "core_metadata",
									"TableName": "watermark_table"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-02T20:36:39Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_pg_generic_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_smoke_test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlV2Source",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_pg_fact_claims",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_adls_raw_fact_claims_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-02T18:44:42Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_pg_fact_claims')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_raw_fact_claims_parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/da_adls_generic_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_health_lake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FilePath": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().FilePath",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_health_lake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_raw_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_health_lake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "data.csv",
						"folderPath": "lookups/dim_service_types",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_health_lake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_raw_fact_claims_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_health_lake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "claims/fact_claims",
						"fileSystem": "raw"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_health_lake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_pg_fact_claims')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_pg_health_perf",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "PostgreSqlV2Table",
				"schema": [],
				"typeProperties": {
					"schema": "claims",
					"table": "fact_claims"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_pg_health_perf')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_pg_generic_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_pg_health_perf",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SchemaName": {
						"type": "string"
					},
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "PostgreSqlV2Table",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().SchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_pg_health_perf')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_pg_service_types')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_pg_health_perf",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "PostgreSqlV2Table",
				"schema": [],
				"typeProperties": {
					"schema": "lookups",
					"table": "dim_service_types"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_pg_health_perf')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls_health_lake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_health_lake_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_adls_health_lake_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_databricks_perf')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405607181782962.2.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ls_databricks_perf_accessToken')]"
					},
					"newClusterNodeType": "Standard_DS3_v2",
					"newClusterNumOfWorker": "1",
					"newClusterVersion": "17.3.x-cpu-ml-scala2.13",
					"clusterOption": "Fixed",
					"newClusterInitScripts": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_pg_health_perf')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "PostgreSqlV2",
				"typeProperties": {
					"server": "[parameters('ls_pg_health_perf_properties_typeProperties_server')]",
					"port": 5432,
					"database": "[parameters('ls_pg_health_perf_properties_typeProperties_database')]",
					"username": "[parameters('ls_pg_health_perf_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_pg_health_perf_password')]"
					},
					"sslMode": 2,
					"authenticationType": "Basic"
				},
				"connectVia": {
					"referenceName": "he-prod-incen-shir-01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/he-prod-incen-shir-01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/he-prod-incen-shir-01')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "pgAdmin to azure data factory connection",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}